{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<main class="meal_plan-detail">
    <div>
        <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
        <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
    <h1>{{ mealplan.name }}</h1>
    <h2>{{ mealplan.date }}</h2>
    {{ meal_plan.recipes | markdownify }}
    <h2>Recipe</h2>
    {% if recipe.image %}
      <img src="{{ recipe.image }}" class="pull-right">
    {% endif %}
    <table>
      <tbody>
        {% for recipes in mealplan.recipes.all %}
            <a href="{% url 'recipe_detail' recipes.id %}">{{ recipes }}</a>
        {% endfor %}
      </tbody>
    </table>
</main>
{% endblock content %}